################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/src/FitGames.MonoGame.Spine/bin
/src/FitGames.MonoGame.Spine/obj
/src/FitGames.MonoGame.Spine.Tests/bin
/src/FitGames.MonoGame.Spine.Tests/obj
